openapi: 3.0.3
info:
  title: 音浪AI - AI音乐创作平台 API
  description: |
    音浪AI是一个全栈AI音乐创作平台，集成了AI歌词生成、AI歌曲生成、音乐社交、一起听房间、会员体系、积分商城等完整功能。
    
    ## 认证方式
    - **用户接口**: JWT Bearer Token (Header: `Authorization: Bearer <token>`)
    - **管理接口**: Admin JWT Bearer Token (Header: `Authorization: Bearer <admin_token>`)
    
    ## 响应格式
    ```json
    {
      "code": 0,        // 0=成功, 其他=错误码
      "msg": "success", // 错误信息
      "data": {}        // 响应数据
    }
    ```
    
    ## 限流规则
    - 登录接口: 5次/分钟/IP
    - 注册接口: 10次/分钟/IP
    - AI创作接口: 2次/分钟/用户
  version: 1.0.0
  contact:
    name: yuhao-jack
    url: https://gitee.com/yuhao-jack/aimusic-app

servers:
  - url: https://music-api.rich-thinker.asia
    description: 生产环境
  - url: http://localhost:8080
    description: 本地开发

tags:
  - name: auth
    description: 认证相关
  - name: music
    description: 音乐相关
  - name: ai
    description: AI创作
  - name: social
    description: 社交互动
  - name: membership
    description: 会员体系
  - name: shop
    description: 积分商城
  - name: tasks
    description: 每日任务
  - name: user
    description: 用户信息
  - name: playlist
    description: 歌单管理
  - name: together
    description: 一起听
  - name: admin-dashboard
    description: 管理后台-仪表盘
  - name: admin-user
    description: 管理后台-用户管理
  - name: admin-music
    description: 管理后台-音乐管理
  - name: admin-ai
    description: 管理后台-AI任务
  - name: admin-content
    description: 管理后台-内容管理
  - name: admin-commerce
    description: 管理后台-商业化
  - name: admin-operation
    description: 管理后台-运营管理
  - name: admin-analytics
    description: 管理后台-数据分析
  - name: admin-system
    description: 管理后台-系统管理

paths:
  # ==================== 认证相关 ====================
  /api/v1/user/register:
    post:
      tags: [auth]
      summary: 用户注册
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 32
                  example: "testuser"
                password:
                  type: string
                  minLength: 6
                  example: "123456"
                nickname:
                  type: string
                  example: "测试用户"
                email:
                  type: string
                  format: email
                  example: "test@example.com"
                invite_code:
                  type: string
                  description: 邀请码（可选）
      responses:
        '200':
          description: 注册成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/v1/user/login:
    post:
      tags: [auth]
      summary: 密码登录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: "testuser"
                password:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/v1/user/login/phone:
    post:
      tags: [auth]
      summary: 手机验证码登录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone:
                  type: string
                  example: "13800138000"
                code:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/v1/user/login/oauth:
    post:
      tags: [auth]
      summary: 第三方登录（Google/Apple/微信）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, open_id]
              properties:
                platform:
                  type: string
                  enum: [google, apple, wechat]
                open_id:
                  type: string
                nickname:
                  type: string
                avatar:
                  type: string
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/v1/user/refresh-token:
    post:
      tags: [auth]
      summary: 刷新Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: 刷新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/v1/user/send-sms-code:
    post:
      tags: [auth]
      summary: 发送短信验证码
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  type: string
                  example: "13800138000"
      responses:
        '200':
          description: 发送成功

  /api/v1/user/reset-password:
    post:
      tags: [auth]
      summary: 重置密码
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code, new_password]
              properties:
                phone:
                  type: string
                code:
                  type: string
                new_password:
                  type: string
      responses:
        '200':
          description: 重置成功

  # ==================== 音乐相关 ====================
  /api/v1/music/recommend:
    get:
      tags: [music]
      summary: 获取推荐歌曲
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SongListResponse'

  /api/v1/music/daily-recommend:
    get:
      tags: [music]
      summary: 获取每日推荐
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SongListResponse'

  /api/v1/music/charts:
    get:
      tags: [music]
      summary: 获取音乐榜单列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        type:
                          type: string
                        description:
                          type: string

  /api/v1/music/rank/{type}:
    get:
      tags: [music]
      summary: 获取榜单歌曲
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [hot, new, like]
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SongListResponse'

  /api/v1/music/search:
    get:
      tags: [music]
      summary: 搜索歌曲
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SongListResponse'

  /api/v1/music/{song_id}:
    get:
      tags: [music]
      summary: 获取歌曲详情
      parameters:
        - name: song_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Song'

  /api/v1/music/{song_id}/comments:
    get:
      tags: [music]
      summary: 获取歌曲评论
      parameters:
        - name: song_id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/search/hot:
    get:
      tags: [music]
      summary: 获取热搜关键词
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        keyword:
                          type: string
                        count:
                          type: integer

  /api/v1/playlist/featured:
    get:
      tags: [music]
      summary: 获取精选歌单
      responses:
        '200':
          description: 成功

  /api/v1/banners:
    get:
      tags: [music]
      summary: 获取Banner列表
      responses:
        '200':
          description: 成功

  /api/v1/topics:
    get:
      tags: [music]
      summary: 获取公开话题列表
      responses:
        '200':
          description: 成功

  /api/v1/activities:
    get:
      tags: [music]
      summary: 获取公开活动列表
      responses:
        '200':
          description: 成功

  /api/v1/ads:
    get:
      tags: [music]
      summary: 获取广告位
      parameters:
        - name: position
          in: query
          schema:
            type: string
            enum: [splash, feed, rewarded]
      responses:
        '200':
          description: 成功

  /api/v1/ads/{id}/click:
    post:
      tags: [music]
      summary: 广告点击追踪
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/system/config:
    get:
      tags: [music]
      summary: 获取公开系统配置
      responses:
        '200':
          description: 成功

  /api/v1/system/version-check:
    get:
      tags: [music]
      summary: 版本检查
      parameters:
        - name: platform
          in: query
          required: true
          schema:
            type: string
            enum: [ios, android]
        - name: version_code
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    properties:
                      need_update:
                        type: boolean
                      force_update:
                        type: boolean
                      version_code:
                        type: integer
                      version_name:
                        type: string
                      update_url:
                        type: string
                      changelog:
                        type: string

  # ==================== AI创作 ====================
  /api/v1/ai/lyric/generate:
    post:
      tags: [ai]
      summary: 生成歌词
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt, style, emotion]
              properties:
                prompt:
                  type: string
                  description: 主题关键词
                  example: "思念故乡"
                style:
                  type: string
                  description: 音乐风格
                  example: "民谣"
                emotion:
                  type: string
                  description: 情绪
                  example: "伤感"
                lang:
                  type: string
                  default: "zh"
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    properties:
                      lyric:
                        type: string
                      prompt:
                        type: string
                      coins_cost:
                        type: integer
                      coins_remain:
                        type: integer

  /api/v1/ai/lyric/optimize:
    post:
      tags: [ai]
      summary: 优化歌词
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lyric, style]
              properties:
                lyric:
                  type: string
                style:
                  type: string
      responses:
        '200':
          description: 成功

  /api/v1/ai/song/generate:
    post:
      tags: [ai]
      summary: 生成歌曲
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lyric, style, emotion, title]
              properties:
                lyric:
                  type: string
                style:
                  type: string
                emotion:
                  type: string
                title:
                  type: string
                voice_id:
                  type: string
                duration:
                  type: integer
                  default: 180
      responses:
        '200':
          description: 成功

  /api/v1/ai/task/{task_id}/progress:
    get:
      tags: [ai]
      summary: 获取任务进度
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/ai/chat/recommend:
    post:
      tags: [ai]
      summary: AI对话推荐
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  example: "推荐一些流行的歌曲"
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    properties:
                      reply:
                        type: string

  # ==================== 用户信息 ====================
  /api/v1/user/info:
    get:
      tags: [user]
      summary: 获取用户信息
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功
    put:
      tags: [user]
      summary: 更新用户信息
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                bio:
                  type: string
                email:
                  type: string
      responses:
        '200':
          description: 成功

  /api/v1/user/avatar:
    post:
      tags: [user]
      summary: 上传头像
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
      responses:
        '200':
          description: 成功

  /api/v1/user/works:
    get:
      tags: [user]
      summary: 获取用户作品
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/user/likes:
    get:
      tags: [user]
      summary: 获取用户点赞
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/user/followers/{user_id}:
    get:
      tags: [user]
      summary: 获取粉丝列表
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/user/following/{user_id}:
    get:
      tags: [user]
      summary: 获取关注列表
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/user/follow/{target_id}:
    post:
      tags: [social]
      summary: 关注用户
      security:
        - bearerAuth: []
      parameters:
        - name: target_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/user/unfollow/{target_id}:
    post:
      tags: [social]
      summary: 取消关注
      security:
        - bearerAuth: []
      parameters:
        - name: target_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  # ==================== 社交互动 ====================
  /api/v1/post/create:
    post:
      tags: [social]
      summary: 发布动态
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                images:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: 成功

  /api/v1/post/{post_id}:
    get:
      tags: [social]
      summary: 获取动态详情
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [social]
      summary: 删除动态
      security:
        - bearerAuth: []
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/post/{post_id}/like:
    post:
      tags: [social]
      summary: 点赞动态
      security:
        - bearerAuth: []
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/post/{post_id}/comment:
    post:
      tags: [social]
      summary: 评论动态
      security:
        - bearerAuth: []
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                parent_id:
                  type: integer
                  default: 0
      responses:
        '200':
          description: 成功

  /api/v1/music/{song_id}/like:
    post:
      tags: [social]
      summary: 点赞歌曲
      security:
        - bearerAuth: []
      parameters:
        - name: song_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/music/{song_id}/comment:
    post:
      tags: [social]
      summary: 评论歌曲
      security:
        - bearerAuth: []
      parameters:
        - name: song_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                parent_id:
                  type: integer
      responses:
        '200':
          description: 成功

  /api/v1/notifications:
    get:
      tags: [social]
      summary: 获取通知列表
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/notifications/{id}/read:
    put:
      tags: [social]
      summary: 标记通知已读
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/notifications/read-all:
    put:
      tags: [social]
      summary: 标记所有通知已读
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/notifications/unread-count:
    get:
      tags: [social]
      summary: 获取未读通知数
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/post/report:
    post:
      tags: [social]
      summary: 举报动态
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [post_id, reason]
              properties:
                post_id:
                  type: integer
                reason:
                  type: string
      responses:
        '200':
          description: 成功

  # ==================== 会员体系 ====================
  /api/v1/membership/info:
    get:
      tags: [membership]
      summary: 获取会员信息
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/membership/vip-plans:
    get:
      tags: [membership]
      summary: 获取VIP套餐列表
      responses:
        '200':
          description: 成功

  /api/v1/membership/coin-packages:
    get:
      tags: [membership]
      summary: 获取音币充值包列表
      responses:
        '200':
          description: 成功

  /api/v1/membership/buy-vip:
    post:
      tags: [membership]
      summary: 购买VIP
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan_id]
              properties:
                plan_id:
                  type: integer
                pay_method:
                  type: string
                  enum: [alipay, wechat, mock]
                  default: mock
      responses:
        '200':
          description: 成功

  /api/v1/membership/buy-coins:
    post:
      tags: [membership]
      summary: 购买音币
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [package_id]
              properties:
                package_id:
                  type: integer
                pay_method:
                  type: string
                  enum: [alipay, wechat, mock]
                  default: mock
      responses:
        '200':
          description: 成功

  /api/v1/membership/check-in:
    post:
      tags: [membership]
      summary: 每日签到
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/membership/coin-records:
    get:
      tags: [membership]
      summary: 获取音币记录
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/membership/ai-quota:
    get:
      tags: [membership]
      summary: 获取AI配额信息
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/membership/discounts:
    get:
      tags: [membership]
      summary: 获取限时折扣
      responses:
        '200':
          description: 成功

  # ==================== 积分商城 ====================
  /api/v1/shop/products:
    get:
      tags: [shop]
      summary: 获取商城商品列表
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/shop/exchange:
    post:
      tags: [shop]
      summary: 兑换商品
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id]
              properties:
                product_id:
                  type: integer
      responses:
        '200':
          description: 成功

  # ==================== 每日任务 ====================
  /api/v1/tasks/list:
    get:
      tags: [tasks]
      summary: 获取每日任务列表
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/tasks/complete/{task_type}:
    post:
      tags: [tasks]
      summary: 完成任务领取奖励
      security:
        - bearerAuth: []
      parameters:
        - name: task_type
          in: path
          required: true
          schema:
            type: string
            enum: [check_in, play_song, like_song, share_song, create_post, ai_create]
      responses:
        '200':
          description: 成功

  /api/v1/tasks/stats:
    get:
      tags: [tasks]
      summary: 获取任务统计
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  # ==================== 一起听 ====================
  /api/v1/music/together/create:
    post:
      tags: [together]
      summary: 创建一起听房间
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                password:
                  type: string
                max_members:
                  type: integer
                  default: 10
      responses:
        '200':
          description: 成功

  /api/v1/music/together/join/{room_code}:
    post:
      tags: [together]
      summary: 加入房间
      security:
        - bearerAuth: []
      parameters:
        - name: room_code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
      responses:
        '200':
          description: 成功

  /api/v1/music/together/leave/{room_id}:
    post:
      tags: [together]
      summary: 离开房间
      security:
        - bearerAuth: []
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/music/together/room/{room_id}:
    get:
      tags: [together]
      summary: 获取房间信息
      security:
        - bearerAuth: []
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/music/together/rooms:
    get:
      tags: [together]
      summary: 获取公开房间列表
      responses:
        '200':
          description: 成功

  /api/v1/music/together/my-rooms:
    get:
      tags: [together]
      summary: 获取我的房间
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  # ==================== 用户行为埋点 ====================
  /api/v1/events/track:
    post:
      tags: [user]
      summary: 用户行为埋点
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      event_name:
                        type: string
                      event_type:
                        type: string
                      params:
                        type: object
                      timestamp:
                        type: integer
                platform:
                  type: string
                app_version:
                  type: string
      responses:
        '200':
          description: 成功

  # ==================== 管理后台 - 仪表盘 ====================
  /api/admin/login:
    post:
      tags: [admin-dashboard]
      summary: 管理员登录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: "admin"
                password:
                  type: string
                  example: "admin"
      responses:
        '200':
          description: 成功

  /api/admin/dashboard/stats:
    get:
      tags: [admin-dashboard]
      summary: 获取仪表盘统计数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/dashboard/trend:
    get:
      tags: [admin-dashboard]
      summary: 获取趋势数据
      security:
        - adminAuth: []
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            default: 7
      responses:
        '200':
          description: 成功

  /api/admin/dashboard/distribution:
    get:
      tags: [admin-dashboard]
      summary: 获取分布数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/dashboard/ranking:
    get:
      tags: [admin-dashboard]
      summary: 获取排行榜
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  # ==================== 管理后台 - 用户管理 ====================
  /api/admin/users:
    get:
      tags: [admin-user]
      summary: 获取用户列表
      security:
        - adminAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
        - name: keyword
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功

  /api/admin/users/{id}:
    put:
      tags: [admin-user]
      summary: 更新用户
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [admin-user]
      summary: 删除用户
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/users/{id}/profile:
    get:
      tags: [admin-user]
      summary: 获取用户画像
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/users/segments:
    get:
      tags: [admin-user]
      summary: 获取用户分群
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  # ==================== 管理后台 - AI任务 ====================
  /api/admin/ai-tasks:
    get:
      tags: [admin-ai]
      summary: 获取AI任务列表
      security:
        - adminAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
        - name: type
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功

  /api/admin/ai-tasks/stats:
    get:
      tags: [admin-ai]
      summary: 获取AI任务统计
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/ai-tasks/batch-retry:
    post:
      tags: [admin-ai]
      summary: 批量重试失败任务
      security:
        - adminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [task_ids]
              properties:
                task_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: 成功

  /api/admin/ai-tasks/batch-cancel:
    post:
      tags: [admin-ai]
      summary: 批量取消任务
      security:
        - adminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [task_ids]
              properties:
                task_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: 成功

  /api/admin/ai-tasks/user-rank:
    get:
      tags: [admin-ai]
      summary: 获取用户AI使用排行
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  # ==================== 管理后台 - 内容管理 ====================
  /api/admin/songs:
    get:
      tags: [admin-content]
      summary: 获取歌曲列表
      security:
        - adminAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
        - name: keyword
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功

  /api/admin/songs/{id}/detail:
    get:
      tags: [admin-content]
      summary: 获取歌曲详情（含歌词）
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/songs/{id}/lyric:
    put:
      tags: [admin-content]
      summary: 更新歌曲歌词
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lyric]
              properties:
                lyric:
                  type: string
      responses:
        '200':
          description: 成功

  /api/admin/mvs:
    get:
      tags: [admin-content]
      summary: 获取MV列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/mvs/{id}:
    delete:
      tags: [admin-content]
      summary: 删除MV
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/posts:
    get:
      tags: [admin-content]
      summary: 获取动态列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/posts/{id}:
    delete:
      tags: [admin-content]
      summary: 删除动态
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/posts/{id}/status:
    put:
      tags: [admin-content]
      summary: 切换动态状态
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  enum: [0, 1, 2]
      responses:
        '200':
          description: 成功

  /api/admin/follows:
    get:
      tags: [admin-content]
      summary: 获取关注关系列表
      security:
        - adminAuth: []
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功

  /api/admin/follows/{id}:
    delete:
      tags: [admin-content]
      summary: 删除关注关系
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/sensitive-words:
    get:
      tags: [admin-content]
      summary: 获取敏感词列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-content]
      summary: 保存敏感词
      security:
        - adminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [words]
              properties:
                words:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: 成功

  /api/admin/audit:
    get:
      tags: [admin-content]
      summary: 获取审核列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/audit/{id}/pass:
    post:
      tags: [admin-content]
      summary: 审核通过
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/audit/{id}/reject:
    post:
      tags: [admin-content]
      summary: 审核拒绝
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  # ==================== 管理后台 - 运营管理 ====================
  /api/admin/banners:
    get:
      tags: [admin-operation]
      summary: 获取Banner列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-operation]
      summary: 创建Banner
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/topics:
    get:
      tags: [admin-operation]
      summary: 获取话题列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-operation]
      summary: 创建话题
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/ads:
    get:
      tags: [admin-operation]
      summary: 获取广告位列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-operation]
      summary: 创建广告位
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/content-ops/data:
    get:
      tags: [admin-operation]
      summary: 获取内容运营数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  # ==================== 管理后台 - 数据分析 ====================
  /api/admin/analytics/dau:
    get:
      tags: [admin-analytics]
      summary: 获取DAU/WAU/MAU统计
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/analytics/real-retention:
    get:
      tags: [admin-analytics]
      summary: 获取真实留存数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/analytics/real-funnel:
    get:
      tags: [admin-analytics]
      summary: 获取真实漏斗数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/analytics/real-revenue:
    get:
      tags: [admin-analytics]
      summary: 获取真实营收数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/events/stats:
    get:
      tags: [admin-analytics]
      summary: 获取事件统计
      security:
        - adminAuth: []
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            default: 7
      responses:
        '200':
          description: 成功

  /api/admin/finance/report:
    get:
      tags: [admin-analytics]
      summary: 获取财务报表
      security:
        - adminAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
      responses:
        '200':
          description: 成功

  /api/admin/finance/export:
    get:
      tags: [admin-analytics]
      summary: 导出财务报表CSV
      security:
        - adminAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
        - name: end_date
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功

  # ==================== 管理后台 - 系统管理 ====================
  /api/admin/system/config:
    get:
      tags: [admin-system]
      summary: 获取系统配置
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-system]
      summary: 保存系统配置
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/system/version:
    get:
      tags: [admin-system]
      summary: 获取版本配置
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-system]
      summary: 保存版本配置
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    adminAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthResponse:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          type: object
          properties:
            token:
              type: string
            refresh_token:
              type: string
            user_id:
              type: integer
            username:
              type: string
            nickname:
              type: string

    Song:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        title:
          type: string
        singer:
          type: string
        album:
          type: string
        cover:
          type: string
        audio_url:
          type: string
        style:
          type: string
        emotion:
          type: string
        duration:
          type: integer
        play_count:
          type: integer
        like_count:
          type: integer
        status:
          type: integer
        created_at:
          type: string
          format: date-time

    SongListResponse:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Song'

    Error:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string

  # ==================== 补充的API端点 ====================
  # ==================== 补充的公开API ====================
  
  /api/v1/playlist/{playlist_id}:
    get:
      tags: [music]
      summary: 获取歌单详情
      parameters:
        - name: playlist_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/playlist/recommend:
    get:
      tags: [music]
      summary: 获取推荐歌单
      responses:
        '200':
          description: 成功

  /api/v1/post/list:
    get:
      tags: [social]
      summary: 获取动态列表
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/post/user/{user_id}:
    get:
      tags: [social]
      summary: 获取用户动态列表
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/post/{post_id}/comments:
    get:
      tags: [social]
      summary: 获取动态评论
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/creator/stars:
    get:
      tags: [music]
      summary: 获取创作明星列表
      responses:
        '200':
          description: 成功

  /api/v1/creator/{user_id}:
    get:
      tags: [music]
      summary: 获取创作者详情
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/music/{song_id}/lyric-poster:
    get:
      tags: [music]
      summary: 获取歌词海报数据
      security:
        - bearerAuth: []
      parameters:
        - name: song_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/music/together/feed:
    get:
      tags: [together]
      summary: 获取一起听社区动态
      responses:
        '200':
          description: 成功

  /api/v1/music/together/room/{room_id}:
    put:
      tags: [together]
      summary: 更新房间信息
      security:
        - bearerAuth: []
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/music/together/room/{room_id}/kick/{member_id}:
    post:
      tags: [together]
      summary: 踢出房间成员
      security:
        - bearerAuth: []
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: integer
        - name: member_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/music/together/ws/{room_id}:
    get:
      tags: [together]
      summary: WebSocket连接（实时同步）
      description: |
        WebSocket连接端点，用于一起听房间的实时同步。
        连接后可发送/接收以下消息类型：
        - play: 播放
        - pause: 暂停
        - seek: 跳转进度
        - switch_song: 切换歌曲
        - chat: 聊天消息
        - user_join: 用户加入
        - user_leave: 用户离开
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: integer
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: JWT Token
      responses:
        '101':
          description: WebSocket连接成功

  /api/v1/user/invite-code:
    get:
      tags: [user]
      summary: 获取邀请码
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [user]
      summary: 生成邀请码
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/user/invite-records:
    get:
      tags: [user]
      summary: 获取邀请记录
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/user/follow/status:
    get:
      tags: [social]
      summary: 获取关注状态
      security:
        - bearerAuth: []
      parameters:
        - name: target_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  # ==================== 补充的私有API ====================
  
  /api/v1/upload:
    post:
      tags: [user]
      summary: 通用文件上传
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                      name:
                        type: string
                      size:
                        type: integer

  /api/v1/diary/list:
    get:
      tags: [user]
      summary: 获取音乐日记列表
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/diary/create:
    post:
      tags: [user]
      summary: 创建音乐日记
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [song_id]
              properties:
                song_id:
                  type: integer
                content:
                  type: string
                mood:
                  type: string
      responses:
        '200':
          description: 成功

  /api/v1/diary/{id}:
    delete:
      tags: [user]
      summary: 删除音乐日记
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/history:
    get:
      tags: [user]
      summary: 获取播放历史
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    post:
      tags: [user]
      summary: 添加播放历史
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [song_id]
              properties:
                song_id:
                  type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [user]
      summary: 清空播放历史
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/history/{id}:
    delete:
      tags: [user]
      summary: 删除单条播放历史
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/report/weekly:
    get:
      tags: [user]
      summary: 获取周听歌报告
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/report/listening-stats:
    get:
      tags: [user]
      summary: 获取听歌统计
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功

  /api/v1/voice/clones:
    get:
      tags: [user]
      summary: 获取音色克隆列表
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [user]
      summary: 创建音色克隆
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: 成功

  /api/v1/voice/clones/{id}:
    get:
      tags: [user]
      summary: 获取音色克隆详情
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    put:
      tags: [user]
      summary: 更新音色克隆
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [user]
      summary: 删除音色克隆
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/v1/post/comment/{comment_id}:
    delete:
      tags: [social]
      summary: 删除评论
      security:
        - bearerAuth: []
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  # ==================== 补充的管理后台API ====================
  
  /api/admin/activities:
    get:
      tags: [admin-operation]
      summary: 获取活动列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-operation]
      summary: 创建活动
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/activities/{id}:
    put:
      tags: [admin-operation]
      summary: 更新活动
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [admin-operation]
      summary: 删除活动
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/alerts:
    get:
      tags: [admin-system]
      summary: 获取告警列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/alerts/{id}/handle:
    put:
      tags: [admin-system]
      summary: 处理告警
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/analytics/user-behavior:
    get:
      tags: [admin-analytics]
      summary: 获取用户行为数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/analytics/retention:
    get:
      tags: [admin-analytics]
      summary: 获取留存数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/analytics/funnel:
    get:
      tags: [admin-analytics]
      summary: 获取漏斗数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/analytics/revenue:
    get:
      tags: [admin-analytics]
      summary: 获取营收数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/bans:
    get:
      tags: [admin-content]
      summary: 获取封禁列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-content]
      summary: 封禁用户
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/bans/{id}/unban:
    post:
      tags: [admin-content]
      summary: 解封用户
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/coin-packages:
    get:
      tags: [admin-commerce]
      summary: 获取音币充值包列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-commerce]
      summary: 创建音币充值包
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/coin-packages/{id}:
    put:
      tags: [admin-commerce]
      summary: 更新音币充值包
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [admin-commerce]
      summary: 删除音币充值包
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/coin-records:
    get:
      tags: [admin-commerce]
      summary: 获取音币记录
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/comments:
    get:
      tags: [admin-content]
      summary: 获取评论列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/comments/{id}:
    delete:
      tags: [admin-content]
      summary: 删除评论
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/diaries:
    get:
      tags: [admin-content]
      summary: 获取音乐日记列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/diaries/{id}:
    delete:
      tags: [admin-content]
      summary: 删除音乐日记
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/export/users:
    get:
      tags: [admin-system]
      summary: 导出用户CSV
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/export/orders:
    get:
      tags: [admin-system]
      summary: 导出订单CSV
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/export/songs:
    get:
      tags: [admin-system]
      summary: 导出歌曲CSV
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/invites:
    get:
      tags: [admin-content]
      summary: 获取邀请记录
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/members:
    get:
      tags: [admin-commerce]
      summary: 获取会员列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/members/{id}:
    put:
      tags: [admin-commerce]
      summary: 更新会员
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/monitor/stats:
    get:
      tags: [admin-system]
      summary: 获取监控数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/monitor/real-stats:
    get:
      tags: [admin-system]
      summary: 获取真实监控数据
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/monitor/api-stats:
    get:
      tags: [admin-system]
      summary: 获取API调用统计
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/orders:
    get:
      tags: [admin-commerce]
      summary: 获取订单列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/playlists:
    get:
      tags: [admin-content]
      summary: 获取歌单列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/playlists/{id}/featured:
    put:
      tags: [admin-content]
      summary: 设置精选歌单
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/quota-config:
    get:
      tags: [admin-system]
      summary: 获取配额配置
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-system]
      summary: 保存配额配置
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/reports:
    get:
      tags: [admin-content]
      summary: 获取举报列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/reports/{id}/handle:
    post:
      tags: [admin-content]
      summary: 处理举报
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/songs/{id}:
    put:
      tags: [admin-content]
      summary: 更新歌曲
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [admin-content]
      summary: 删除歌曲
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/system/logs:
    get:
      tags: [admin-system]
      summary: 获取操作日志
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/together-rooms:
    get:
      tags: [admin-content]
      summary: 获取一起听房间列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/together-rooms/{id}/close:
    post:
      tags: [admin-content]
      summary: 关闭房间
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/vip-plans:
    get:
      tags: [admin-commerce]
      summary: 获取VIP套餐列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功
    post:
      tags: [admin-commerce]
      summary: 创建VIP套餐
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/vip-plans/{id}:
    put:
      tags: [admin-commerce]
      summary: 更新VIP套餐
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [admin-commerce]
      summary: 删除VIP套餐
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/voice-clones:
    get:
      tags: [admin-content]
      summary: 获取音色克隆列表
      security:
        - adminAuth: []
      responses:
        '200':
          description: 成功

  /api/admin/ads/{id}:
    put:
      tags: [admin-operation]
      summary: 更新广告位
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [admin-operation]
      summary: 删除广告位
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/topics/{id}:
    put:
      tags: [admin-operation]
      summary: 更新话题
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [admin-operation]
      summary: 删除话题
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/admin/banners/{id}:
    put:
      tags: [admin-operation]
      summary: 更新Banner
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
    delete:
      tags: [admin-operation]
      summary: 删除Banner
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
